package  {{.PackageName}}

import (
    "fmt"
)

type {{.ElementName }} struct {
    *Element
}

func {{.NewElement }}(children ...ElementBuilder) *{{.ElementName }} {
    return &{{.ElementName }}{
        Element: &Element{
            Tag: elementTag{{.NewElement}},
            IsSelfClosing: {{.IsSelfClosing}},
            Descendants: children,
        },
    }
}

func (e *{{.ElementName }}) Children(children ...ElementBuilder) *{{.ElementName }} {
    e.Descendants = append(e.Descendants, children...)
    return e
}

func(e *{{.ElementName }}) IfChildren(condition bool, children ...ElementBuilder) *{{.ElementName }} {
    if condition {
        e.Descendants = append(e.Descendants, children...)
    }
    return e
}

func(e *{{.ElementName }}) TernChildren(condition bool, trueChildren, falseChildren ElementBuilder) *{{.ElementName }} {
    if condition {
        e.Descendants = append(e.Descendants, trueChildren)
    } else {
        e.Descendants = append(e.Descendants, falseChildren)
    }
    return e
}

func (e *{{.ElementName }}) Text(text string) *{{.ElementName }} {
    e.Descendants = append(e.Descendants, Text(text))
    return e
}

func (e *{{.ElementName }}) TextF(format string, args ...any) *{{.ElementName }} {
    return e.Text(fmt.Sprintf(format, args...))
}

func (e *{{.ElementName }}) Escaped(text string) *{{.ElementName }} {
    e.Descendants = append(e.Descendants, Escaped(text))
    return e
}

func (e *{{.ElementName }}) EscapedF(format string, args ...any) *{{.ElementName }} {
    return e.Escaped(fmt.Sprintf(format, args...))
}

func (e *{{.ElementName}}) CustomData(key, value string) *{{.ElementName}} {
    if e.CustomDataAttributes == nil {
        e.CustomDataAttributes = map[string]string{}
    }
	e.CustomDataAttributes[key] = value
	return e
}

func (e *{{.ElementName}}) CustomDataRemove(key string) *{{.ElementName}} {
	if e.CustomDataAttributes == nil {
		return e
	}
	delete(e.CustomDataAttributes, key)
	return e
}

{{template "CUSTOMIZE_ELEMENT" .}}

{{ range .Attributes }}
// {{.Name}} sets the "{{.Key}}" attribute.
{{- range .Description }}
// {{.}}
{{- end }}
// Values values are constrained to:
{{- range .ValidValueTypes}}
//  * {{.}}
{{- end }}
{{- if (eq .Mode "bool") }}
func (e *{{$.ElementName}}) {{.Name}}() *{{$.ElementName}} {
    if e.BoolAttributes == nil {
        e.BoolAttributes = map[string]struct{}{}
    }
    e.BoolAttributes[{{.KeyConst}}] = struct{}{}
    return e
}

func (e *{{$.ElementName}}) If{{.Name}}(cond bool) *{{$.ElementName}} {
    if !cond {
        return e
    }
    return e.{{.Name}}()
}

func (e *{{$.ElementName}}) Remove{{.Name}}() *{{$.ElementName}} {
    if e.BoolAttributes == nil {
        return e
    }
    delete(e.BoolAttributes, {{.KeyConst}})
    return e
}

func (e *{{$.ElementName}}) Set{{.Name}}(b bool) *{{$.ElementName}} {
    if b {
        return e.{{.Name}}()
    }
    return e.Remove{{.Name}}()
}
{{- else if (eq .Mode "kv") }}
func (e *{{$.ElementName}}) {{.Name}}(k,v string) *{{$.ElementName}} {
    if e.DelimitedKVAttributes == nil {
        e.DelimitedKVAttributes = map[string]*DelimitedKVString{}
    }
    kv, ok := e.DelimitedKVAttributes[{{.KeyConst}}]
    if !ok {
        kv = NewEqualSemicolonDelimitedKVString()
        e.DelimitedKVAttributes[{{.KeyConst}}] = kv
    }
    kv.Add(k,v)
    return e
}

func (e *{{$.ElementName}}) If{{.Name}}(cond bool, k string) *{{$.ElementName}} {
    if !cond {
        return e
    }
    return e.{{.Name}}(k, "")
}

func (e *{{$.ElementName}}) Remove{{.Name}}(k string) *{{$.ElementName}} {
    kv, ok := e.DelimitedKVAttributes[{{.KeyConst}}]
    if !ok {
        return e
    }
    kv.Remove(k)
    return e
}
{{- else if (eq .Mode "space-delimited") }}
func(e *{{$.ElementName}}) {{.Name}}(v string) *{{$.ElementName}} {
    if e.DelimitedStringAttributes == nil {
        e.DelimitedStringAttributes = map[string]*DelimitedString{}
    }
    kv, ok := e.DelimitedStringAttributes[{{.KeyConst}}]
    if !ok {
        kv = NewSpaceDelimitedString()
        e.DelimitedStringAttributes[{{.KeyConst}}] = kv
    }
    kv.Add(v)
    return e
}

func (e *{{$.ElementName}}) If{{.Name}}(cond bool, v string) *{{$.ElementName}} {
    if !cond {
        return e
    }
    return e.{{.Name}}(v)
}

func (e *{{$.ElementName}}) Set{{.Name}}(v string) *{{$.ElementName}} {
    kv := NewSpaceDelimitedString()
    e.DelimitedStringAttributes[{{.KeyConst}}] = kv
    kv.Add(v)
    return e
}

func (e *{{$.ElementName}}) Remove{{.Name}}(v string) *{{$.ElementName}} {
    kv, ok := e.DelimitedStringAttributes[{{.KeyConst}}]
    if !ok {
        return e
    }
    kv.Remove(v)
    return e
}

{{- else if (eq .Mode "string") }}
func (e *{{$.ElementName}}) {{.Name}}(v string) *{{$.ElementName}} {
    if e.StringAttributes == nil {
        e.StringAttributes = map[string]string{}
    }
    e.StringAttributes[{{.KeyConst}}] = v
    return e
}

func (e *{{$.ElementName}}) If{{.Name}}(cond bool, v string) *{{$.ElementName}} {
    if !cond {
        return e
    }
    return e.{{.Name}}(v)
}

func (e *{{$.ElementName}}) Remove{{.Name}}(v string) *{{$.ElementName}} {
    delete(e.StringAttributes, {{.KeyConst}})
    return e
}

{{- else if (eq .Mode "int") }}
func (e *{{$.ElementName}}) {{.Name}}(v int) *{{$.ElementName}} {
    if e.IntAttributes == nil {
        e.IntAttributes = map[string]int{}
    }
    e.IntAttributes[{{.KeyConst}}] = v
    return e
}

func (e *{{$.ElementName}}) If{{.Name}}(cond bool, v int) *{{$.ElementName}} {
    if !cond {
        return e
    }
    return e.{{.Name}}(v)
}

func (e *{{$.ElementName}}) Remove{{.Name}}(v int) *{{$.ElementName}} {
    delete(e.IntAttributes, {{.KeyConst}})
    return e
}

{{- end -}}
{{ end }}
