package {{ .Name.Lower }}

import (
	. "github.com/delaneyj/gostar/elements"
)

const (
	IconifyVersion = "{{.Version}}"
	hAttr = "1em"
	viewbox = "0 0 {{.ViewWidth}} {{.ViewHeight}}"
	fill = "currentColor"
)

{{$baseIconName := printf "%sIcon" .Name.Pascal -}}
type {{$baseIconName}} struct {
	*SVGSVGElement
}

type {{$baseIconName}}Fn func(children ...ElementRenderer) *{{$baseIconName}}

var IconLookup = map[string]{{$baseIconName}}Fn{
{{range .Icons -}}
	"{{.Name.Camel}}": {{.Name.Pascal}},
{{end}}
}

{{range .Icons -}}
func {{.Name.Pascal}}(children ...ElementRenderer) *{{$baseIconName}} {
	return &{{$baseIconName}}{
		SVGSVGElement: SVG_SVG(
			Text(`{{.Icon.SvgBody}}`),
		).HEIGHT(hAttr).VIEW_BOX(viewbox).IfChildren(len(children) > 0, children...),
	}
}

{{end}}